# Maven target directory
/target/

# Logs
*.log

# Eclipse IDE files
.classpath
.project
.settings/

# IntelliJ IDEA files
*.iml
.idea/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Environment-specific files
.env
*.swp

# Java build artifacts
*.class

# zip files
*.zip

# deb files
*.deb